@model AlwaysMoveForward.MainSite.Models.CarouselModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CarouselModel = Model;
    ViewBag.Page = 1;
}
<div class="bodyContent">
    <div class="aboutContent">
        <p>AlwaysMoveForward.com got started when I decided to start writing a blog.&nbsp; Who am I?&nbsp; My name is Arthur Correa, and there are a lot of things that I thought I'd like to write about, but I couldn't quite decide what to focus on.</p>
        <ul>
            <li>I've been architecting and developing web applications and SaaS offerings for more years than I'd care to admit.&nbsp; I know I have opinions about how software should be designed and implemented, and I also have some good stories about things I've encountered.</li>
            <li>My family and I are huge fans of all things Disney.&nbsp; We go to Walt Disney World frequently and I'll be sharing stories about our trips or other Disney related news I come across.</li>
            <li>I'm a big fan of Ice Hockey and Football so I could always write about my favorite teams (Boston Bruins and the New England Patriots).</li>
            <li>I've been playing video games for years.&nbsp; That's partially how I got into programming, and every so often I dabble in writing a graphics engine and making my own game.&nbsp; I could talk about my efforts there and the games that I'm playing to.</li>
            <li>I like to read books on Development, Finance, and Fantasy so I could always do some book reviews.</li>
        </ul>
        <p>Like I said I couldn't make up my mind, but I knew I didn't want to write about just one thing.&nbsp; I have more interests than just a single thing.&nbsp; So I thought&nbsp;I'd just write&nbsp;a blog about all of those topics.&nbsp; A mish mash of whatever topics I wanted to write about that day.&nbsp;So I went to my hosting provider and tried to add some blogging software to my account.&nbsp; Well I had some problems.&nbsp; I had to create a Db first, then I shouldn't have created a Db, then I didn't have the rights to install, no wait I did so why didn't it install?&nbsp; After wasting more time with their tech support than I really wanted to, I said the heck with it.&nbsp; I'd write my own blog software.</p>
        <p>If you find my blog interesting you can subscribe to it's <a href="http://blog.alwaysmoveforward.com/Rss/Posts">RSS feed</a> . Like most people today I'm also on <a target="_blank" href="http://www.facebook.com/arthur.correa">Facebook</a>, <a target="_blank" href="http://www.twitter.com/artieac">Twitter</a>, and <a target="_blank" href="https://instagram.com/artiecorrea">Instagram</a></p>
        <p>So why is it called AlwaysMoveForward.com?&nbsp; Well, as I mentioned, my family and i are big fans of Disney.&nbsp; Walt Disney had a great quote:</p>
        <p><span style="font-size: small;">"<span class="huge">We keep moving forward, opening new doors, and doing new things, because we're curious and curiosity keeps leading us down new paths.</span>"</span></p>
        <p>Disney used that quote in a pretty good movie called Meet the Robinsons.&nbsp; In that movie the phrase Keep Moving Forward was used as the motto the main character.&nbsp; To help him remember to never quit or give up.&nbsp; I thought it was a great message.&nbsp; Unfortunately KeepMovingForward.com was long gone, so I paraphrased it to this.&nbsp; Its close enough that still conveys the same meaning.&nbsp; So here I am.</p>
        <p>&nbsp;</p>
    </div>
</div>