@model PucksAndProgramming.MainSite.Models.CarouselModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.CarouselModel = Model;
	ViewBag.Page = 0;
}

@section headerPlugins
{
	<script src="@Url.Content("~/Scripts/Services/BlogPostService.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Controllers/BlogPostController.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Controllers/TwitterController.js")" type="text/javascript"></script>
}

<div id="header" class="header">
	<div class="w-container">
		<div class="navigation">
			<a href="#header" class="logo-link w-inline-block">
				<h1 class="logo">Arthur Correa</h1>
			</a>
			<a href="#my-story" class="nav-link">About me</a>
			<a href="#personalprojects" class="nav-link">Personal Projects</a>
			<a href="#online" class="nav-link">Recent Blog Entries</a>
		</div>
	</div>
</div>
<div id="my-story" class="section">
	<div class="w-container">
		<div class="w-row">
			<div class="align-right w-col w-col-4">
				<h2>About me</h2>
			</div>
			<div class="w-col w-col-8">
				<p>I am a software architect, hockey player,, Disney fan, and family man.</p>
				<p>As a software architecture I&#x27;m a firm believer in modern practices such as Domain Driven Design, Microservices, Containers, CI/CD, Dev Ops and deploying to the cloud. I most enjoy designing and building distributed systems built using microservices, but I&#x27;m not too particular about what technology I use to build them. I have built production systems in Java, .Net/.Net Core, and Node deployed to AWS and Azure, but I'm open to other things as well.</p>
				<p>As a hockey player. I&#x27;ve gone from someone that wants to play as competitively as I can and keep getting better to someone that just does it for fun and exercise. Nowadays I&#x27;m just happy if I can get up and down the ice without looking like an idiot.</p>
				<p>I&#x27;m a big Disney fan. I've loved going to Disney World since I was a kid,, and I never seem to get sick of it. Everything from the theming, to the rides, to the food. Every time I go there I'm trying to soak it all in. My favorite park is probably Magic Kingdom, and my favorite ride is Splash Mountain.</p>
				<p>And the best for last. As a family man I love to spend my time out of work with my family.  Either driving my kids to or from all their sports, playing board games, or going to Disney with them. &#x27;</p>
			</div>
		</div>
	</div>
</div>
<div id="personalprojects" class="section grey">
	<div class="w-container">
		<div class="w-row">
			<div class="align-right w-col w-col-4">
				<h2>Personal Projects</h2>
			</div>
			<div class="w-col w-col-8">
				<div class="w-row">
					<div class="w-col w-col-4">
						<a href="http://blog.alwaysmoveforward.com" class="journal-entry w-inline-block">
							<div class="white-box">
								<img src="/Content/images/noun_Radar_9219.png" srcset="/Content/images/noun_Radar_9219-p-500.png 500w, /Content/images/noun_Radar_9219.png 700w" sizes="(max-width: 479px) 27vw, (max-width: 767px) 19vw, (max-width: 991px) 8vw, 61.125px" alt="" class="grid-image">
								<h3>Blog</h3>
								<p>Here I blog about anything on the topics from Programming to Hockey to Disney. I wrote the blog software myself using  C#, .Net, MVC, and Angular. </p>
							</div>
						</a>
					</div>
					<div class="w-col w-col-4">
						<a href="http://technologyradar.alwaysmoveforward.com"  class="journal-entry w-inline-block">
							<div class="white-box">
								<img src="/Content/images/noun_Radar_9219.png" srcset="/Content/images/noun_Radar_9219-p-500.png 500w, /Content/images/noun_Radar_9219.png 700w" sizes="(max-width: 479px) 27vw, (max-width: 767px) 19vw, (max-width: 991px) 8vw, 61.125px" alt="" class="grid-image">
								<h3>Technology Radar</h3>
								<p>My personal Technology Radar. The site also lets you manage your own personal Technology Radar once you&#x27;ve logged in with Auth0. I wrote this with Java, Spring Boot, React and Docker.</p>
							</div>
						</a>
					</div>
					<div class="w-col w-col-4">
						<a href="http://pointchart.alwaysmoveforward.com"  class="journal-entry w-inline-block">
							<div class="white-box">
								<img src="https://uploads-ssl.webflow.com/5ab4147a43dc64b2180c31f3/5ab4147a43dc6406fc0c3206_social-01-white.svg" alt="" class="grid-image">
								<h3>Point Chart</h3>
								<p>A site for setting up Point Charts for children.  This was built using C#, .Net, MVC, and React</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="online" class="section">
	<div class="w-container" ng-controller="BlogPostController" ng-init="getMostRecent('@PucksAndProgramming.MainSite.MvcApplication.BlogUrlRoot', 4)">
		<div class="w-row">
			<div class="align-right w-col w-col-4">
				<h2>Recent Blog Entries</h2>
			</div>
			<div class="w-col w-col-8">
				<div ng-show="waitingForData">
					<img src="/Content/Images/waitingForData.gif" /> Loading most recent blog post
				</div>
				<div ng-show="!waitingForData">
					<a href="{{ blogPost.BlogPostUrl}}" class="journal-entry w-inline-block grey" ng-repeat="blogPost in blogPosts">
						<h2>{{ blogPost.Title }}</h2>
						<p>Posted {{ formatDate(blogPost.DatePosted) | date:"MM/dd/yyyy" }}<p>
						<p ng-bind-html="blogPost.ShortEntryText"></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
